.actions .btn-info {
  float: left;
}

.actions .btn-danger {
  float: right;
}

table#cart thead {
  display: none;
}

table#cart tbody td {
  display: block;
  padding: .6rem;
  min-width: 320px;
}

table#cart tbody tr td:first-child {
  background: #333;
  color: #fff;
}

table#cart tbody td:before {
  content: attr(data-th);
  font-weight: bold;
  display: inline-block;
  width: 8rem;
}

table#cart tfoot td {
  display: block;
}

table#cart tfoot td .btn {
  display: block;
}

.w__50 {
  width: 50%;
}

.w__100 {
  width: 100%;
}

.bg__ccc {
  background-color: #ccc;
}

.h__55px {
  height: 55px;
}

.active {
  color: red;
}

.div__container{
  display: flex;
  align-items: center;
    justify-content: center;

}